<f:if condition="{bullets}">
    <f:if condition="{unstyled}">
        <f:then>
            <ul class="list-unstyled">
                <f:render partial="Bullets/ListItem" arguments="{bullets: bullets}" />
            </ul>
        </f:then>
        <f:else>
            <f:if condition="{inline}">
                <f:then>
                    <ul class="list-inline">
                        <f:render partial="Bullets/ListItem" arguments="{bullets: bullets, inline: 'true'}" />
                    </ul>
                </f:then>
                <f:else>
                    <ul>
                        <f:render partial="Bullets/ListItem" arguments="{bullets: bullets}" />
                    </ul>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:if>