<f:if condition="{rowIterator.isFirst} && {thead}">
    <f:then>
        <!-- htmlmin:ignore --><th scope="col"><!-- htmlmin:ignore -->
    </f:then>
    <f:else>
        <f:if condition="{colIterator.isFirst} && {thead_col} && !({rowIterator.isLast} && {tfoot})">
            <f:then>
                <!-- htmlmin:ignore --><th scope="row"><!-- htmlmin:ignore -->
            </f:then>
            <f:else>
                <!-- htmlmin:ignore --><td><!-- htmlmin:ignore -->
            </f:else>
        </f:if>
    </f:else>
</f:if>
<f:if condition="{col}">
    <f:format.nl2br>{col}</f:format.nl2br>
</f:if>
<f:if condition="{rowIterator.isFirst} && {thead} || {colIterator.isFirst} && {thead_col}">
    <f:then>
        <!-- htmlmin:ignore --></th><!-- htmlmin:ignore -->
    </f:then>
    <f:else>
        <!-- htmlmin:ignore --></td><!-- htmlmin:ignore -->
    </f:else>
</f:if>