<f:if condition="{rowIterator.isFirst}">
    <f:then>
        <f:if condition="{thead}">
            <f:then>
                <!-- htmlmin:ignore --><thead><!-- htmlmin:ignore -->
            </f:then>
            <f:else>
                <!-- htmlmin:ignore --><tbody><!-- htmlmin:ignore -->
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <f:if condition="{rowIterator.isLast} && {tfoot}">
            <!-- htmlmin:ignore --></tbody><!-- htmlmin:ignore -->
            <!-- htmlmin:ignore --><tfoot><!-- htmlmin:ignore -->
        </f:if>
    </f:else>
</f:if>
<tr>
    <f:for each="{row}" as="col" iteration="colIterator">
        <f:render partial="Table/Column"
                arguments="{col: col, rowIterator: rowIterator, colIterator: colIterator, thead: thead, tfoot: tfoot, thead_col: thead_col}" />
    </f:for>
</tr>
<f:if condition="{rowIterator.isFirst} && {thead}">
    <f:then>
        <!-- htmlmin:ignore --></thead><!-- htmlmin:ignore -->
        <!-- htmlmin:ignore --><tbody><!-- htmlmin:ignore -->
    </f:then>
    <f:else>
        <f:if condition="{rowIterator.isLast}">
            <f:if condition="{tfoot}">
                <f:then>
                    <!-- htmlmin:ignore --></tfoot><!-- htmlmin:ignore -->
                </f:then>
                <f:else>
                    <!-- htmlmin:ignore --></tbody><!-- htmlmin:ignore -->
                </f:else>
            </f:if>
        </f:if>
    </f:else>
</f:if>