<f:variable name="bscTableClass" />

<f:if condition="{classes}">
    <f:for each="{classes}" as="class">
        <f:variable name="bscTableClass">
            {bscTableClass}{f:if(condition: bscTableClass, then: ' ')}table-{class}
        </f:variable>
    </f:for>
</f:if>
<table class="table{f:if(condition: bscTableClass, then: ' {bscTableClass}')}">
    <f:if condition="{caption}">
        <caption>{caption}</caption>
    </f:if>
    <f:for each="{table}" as="row" iteration="rowIterator">
        <f:render partial="Table/Row"
                arguments="{row: row, rowIterator: rowIterator, thead: thead, tfoot: tfoot, thead_col: thead_col}" />
    </f:for>
</table>