<html lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true">
<f:if condition="{file.responsive}">
    <f:then>
        <div class="embed-responsive embed-responsive-{file.aspectRatio}">
            <f:media class="embed-responsive-item" file="{file}" alt="{file.alternative}" title="{file.title}" />
        </div>
    </f:then>
    <f:else>
        <f:media file="{file}" alt="{file.alternative}" title="{file.title}" />
    </f:else>
</f:if>
</html>