<f:layout name="Default" />

<f:section name="Main">
    <f:switch expression="{data.bullets_type}">
        <f:case value="0">
            <f:render partial="Bullets/Unordered" arguments="{bullets: bullets}"/>
        </f:case>
        <f:case value="1">
            <f:render partial="Bullets/Ordered" arguments="{bullets: bullets}"/>
        </f:case>
        <f:case value="2">
            <f:render partial="Bullets/Definition" arguments="{bullets: bullets}"/>
        </f:case>
        <f:case value="3">
            <f:render partial="Bullets/Unordered" arguments="{bullets: bullets, unstyled: 'true'}"/>
        </f:case>
        <f:case value="4">
            <f:render partial="Bullets/Unordered" arguments="{bullets: bullets, inline: 'true'}"/>
        </f:case>
    </f:switch>
</f:section>