<f:layout name="Default" />

<f:section name="Main">
    <f:if condition="{table}">
        <f:if condition="{data.table_responsive}">
            <!-- htmlmin:ignore --><div class="table-responsive{f:if(condition: '{data.table_responsive} != \'xs\'', then: '-{data.table_responsive}')}"><!-- htmlmin:ignore -->
        </f:if>
        <f:render partial="Table/Table" arguments="{table: table, caption: data.table_caption, classes: classes, thead: data.table_thead, tfoot: data.table_tfoot, thead_col: data.table_thead_col}" />
        <f:if condition="{data.table_responsive}">
            <!-- htmlmin:ignore --></div><!-- htmlmin:ignore -->
        </f:if>
    </f:if>
</f:section>