<f:layout name="Default" />

<f:section name="Header" />
<f:section name="Main">
    <f:if condition="{data.imageorient} == 0 || {data.imageorient} == 1 || {data.imageorient} == 2">
        <f:render partial="Media/Gallery" arguments="{files: files, data: data}" />
        <f:render partial="Header/All" arguments="{_all}" />
        <f:format.html>{data.bodytext}</f:format.html>
    </f:if>
    <f:if condition="{data.imageorient} == 8 || {data.imageorient} == 9 || {data.imageorient} == 10">
        <f:render partial="Header/All" arguments="{_all}" />
        <f:format.html>{data.bodytext}</f:format.html>
        <f:render partial="Media/Gallery" arguments="{files: files, data: data}" />
    </f:if>
    <f:if condition="{data.imageorient} == 17 || {data.imageorient} == 18">
        <div class="clearfix">
            <f:render partial="Media/Gallery" arguments="{files: files, data: data}" />
            <f:render partial="Header/All" arguments="{_all}" />
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </f:if>
    <f:if condition="{data.imageorient} == 25">
        <div class="media">
            <div class="media-body">
                <f:render partial="Header/All" arguments="{_all}" />
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
            <f:render partial="Media/Gallery" arguments="{files: files, data: data}" />
        </div>
    </f:if>
    <f:if condition="{data.imageorient} == 26">
        <div class="media">
            <f:render partial="Media/Gallery" arguments="{files: files, data: data}" />
            <div class="media-body">
                <f:render partial="Header/All" arguments="{_all}" />
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </div>
    </f:if>
</f:section>