<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Component"/>

<f:section name="Configuration">
    <flux:form id="panel" options="{group: '{f:translate(key: \'group.component\')}'}">
        <flux:field.select name="class" items="default, primary, success, info, warning, danger" translateCsvItems="TRUE"/>
        <flux:field.input name="extraClass"/>
    </flux:form>
    <flux:grid>
        <flux:grid.row>
            <flux:grid.column name="heading">
                <flux:form.variable name="allowedContentTypes" value="header"/>
            </flux:grid.column>
            <flux:grid.column name="body"/>
            <flux:grid.column name="footer"/>
        </flux:grid.row>
    </flux:grid>
</f:section>

<f:section name="Main">
    <div class="panel panel-{class}{f:if(condition: extraClass, then: ' ')}{extraClass}">
        <f:if condition="{flux:content.get(area: 'heading')}">
            <div class="panel-heading">
                <flux:content.render area="heading"/>
            </div>
        </f:if>
        <div class="panel-body">
            <flux:content.render area="body"/>
        </div>
        <f:if condition="{flux:content.get(area: 'footer')}">
            <div class="panel-footer">
                <flux:content.render area="footer"/>
            </div>
        </f:if>
    </div>
</f:section>
</html>