<html lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true">
<!-- htmlmin:ignore --><p{f:if(condition: position, then: ' class="{f:render(partial: \'Bootstrap/Utilities/Text\', arguments: {value: position})}"')}><!-- htmlmin:ignore -->
    <time datetime="{f:format.date(date: date, format: 'Y-m-d\TH:i:sP')}">
        <f:format.date>{date}</f:format.date>
    </time>
<!-- htmlmin:ignore --></p><!-- htmlmin:ignore -->
</html>